<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div id="about" class="footer__section">
        <header class="footer__header about">
          <h3 class="footer__title">About</h3>
          <img src="/assets/img/shorelle-portrait.jpg" class="footer__image tablet-only" alt="A portrait of Des in her natural habitat">
        </header>
        <div class="footer__section__content">
          <p>I'm Desiree Surjadi, a webdesigner/developer and illustrator from Sydney, currently making things at <a href="https://www.canva.com" target="_blank">Canva</a> <i class="fa fa-heart-o" aria-hidden="true"></i></p>
          <p>I'm passionate about using technology and visual art to broaden our understanding of the world and to help tell the stories of the people in it. My creative inspirations are a mix of film/fiction noir, animation, space opera, and the power of caffeine.</p>
          <p><span class="no-wrap"><i class="fa fa-newspaper-o" aria-hidden="true"></i><!-- <a href="" target="_blank">&rsaquo; Resume/CV</a></span> --><span class="inactive">Resume on request</span></span> &nbsp; &nbsp; <span class="no-wrap"><i class="fa fa-github-alt" aria-hidden="true"></i><a href="http://github.com/shorelle" target="_blank">Github</a></span> &nbsp; &nbsp; <span class="no-wrap"><i class="fa fa-codepen" aria-hidden="true"></i><a href="http://codepen.io/shorelle" target="_blank">Codepen</a></span></p>
        </div>
        <div class="footer__portrait desktop-only">
          <img src="/assets/img/shorelle-portrait.jpg" class="footer__image" alt="A portrait of Des in her natural habitat">
        </div>
      </div>
      <div id="contact" class="footer__section">
        <header class="footer__header contact">
          <h3 class="footer__title">Contact</h3>
        </header>
        <div class="footer__section__content footer__section__content--first">
          <p>Drop me a line if you would like to get in touch, for work or a chat!<br><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:{{ site.email }}" target="_blank" title="Send an email">{{ site.email }}</a></p>
        </div>
        <div class="footer__section__content">
          <ul class="social-media-list">
            <li><i class="fa fa-instagram" aria-hidden="true"></i><a href="https://instagram.com/shorelledraws" target="_blank">Instagram</a></li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/shorelle" target="_blank">Twitter</a></li>
            <li><i class="fa fa-tumblr-square" aria-hidden="true"></i><a href="https://shorelle.tumblr.com" target="_blank">Tumblr</a></li>
          </ul>
        </div>
      </div>
      <div class="back-to-top">
        <a href="#top">Back to top &uarr;</a>
      </div>
    </div>
  </div>
</footer>