<footer class="footer">
    <div class="footer__content">
        <div class="footer__portrait">
            <img src="/assets/img/shorelle-portrait.jpg" class="footer__image" alt="A portrait of Des in her natural habitat">
        </div>
        <div class="footer__profile">
            <div class="footer__text">
                <p>
                    Hello! I’m Desiree&mdash;a web developer, designer and illustrator based in Sydney.<br>
                    <a href="mailto:desiree@shorelle.net" target="_blank">Get in touch</a> for freelance work and projects.
                </p>
            </div>
            <div class="footer__links">
                <div class="back-to-top">
                    <p><a href="#top">Back to top &uarr;</a></p>
                </div>
                <ul class="social-media-list">
                    <li class="social__item"><a class="social__link" href="https://instagram.com/shorelledraws" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><span class="hidden">Instagram</span></a></li>
                    <li class="social__item"><a class="social__link" href="https://twitter.com/shorelle" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span class="hidden">Twitter</span></a></li>
                    <li class="social__item"><a class="social__link" href="https://shorelle.tumblr.com" target="_blank"><i class="fa fa-tumblr-square" aria-hidden="true"></i> <span class="hidden">Tumblr</span></a></li>
                    <li class="social__item"><a class="social__link" href="http://github.com/shorelle" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i><span class="hidden">Github</span></a></li>
                    <li class="social__item"><a class="social__link" href="http://codepen.io/shorelle" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i><span class="hidden">Codepen</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>