<header class="header" role="banner">
  <div class="header__content">
    <a class="header__title" href="/">
      {{ site.title | escape }}
    </a>
    <div class="header__subtitle">ce n’est pas un portfolio</div>
  </div>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__menu__item"><a class="header__menu__link{% if include.slug == 'home' or include.collection == 'illustration' %} current{% endif %}" href="/">Illustration</a></li>
      <li class="header__menu__item"><a class="header__menu__link{% if include.slug == 'web' or include.collection == 'web' %} current{% endif %}" href="/web">Web things</a></li>
      <li class="header__menu__item"><a class="header__menu__link{% if include.slug == 'about' %} current{% endif %}" href="/about">About</a></li>
    </ul>
  </nav>
</header>