/*
 * Global
 * ========================================================================== */

* {
  box-sizing: border-box;
}

body {
  background: $lightgrey;

  &.body--home::before {
    content: '';
    position: fixed;
    z-index: -1;
    bottom: 0;
    right: -5%;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    background: url('../img/background.jpg') no-repeat top right;
    background-size: cover;

    @include respond-to('tablet-landscape') {
      display: none;
    }
  }
}

.page-content {
  margin-left: $unit * 44;
  width: $column-width;

  @include respond-to('tablet-landscape') {
    margin-left: $unit * 30;
    width: $tablet-column-width;
  }

  @include respond-to('mobile') {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

span.label {
  font-weight: bold;
}

i.fa {
  display: inline-block;
  margin: 0 0.25em;
}

.no-wrap {
  white-space: nowrap;
}

.inactive {
  color: lighten($text-color, 30%);
}

.hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.tablet-only {
  display: none;

  @include respond-to('tablet-portrait') {
    display: block;
  }
}

.desktop-only {
  display: block;

  @include respond-to('mobile') {
    display: none !important;
  }
}
