/* 
 * Global
 * ========================================================================== */

* {
  box-sizing: border-box;
}

.container {
  @include container();
}

span.label {
  font-weight: bold;
}

i.fa {
  display: inline-block;
  min-width: 17px;
  margin-right: 0.5em;
}

.no-wrap {
  white-space: nowrap;
}

.inactive {
  color: lighten($text-color, 30%);
}

.tablet-only {
  display: none;

  @include respond-to('tablet-landscape') {
    display: block;
  }
}

.desktop-only {
  display: block;

  @include respond-to('tablet-landscape') {
    display: none !important;
  }
}