/*
 * Typography
 * ========================================================================== */

body {
  color: $text-color;
}

a {
  color: $primary-color;
  font-weight: $bold;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $secondary-color;
  }

  &:active {
    color: darken($secondary-color, 5%);
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: normal;
}
