/*
 * Typography
 * ========================================================================== */

body {
  color: $text-color;
}

a {
  color: $black;
  font-weight: $normal;
  text-decoration: none;
  background-image: -webkit-linear-gradient($lightgrey, $lightgrey), -webkit-linear-gradient($lightgrey, $lightgrey), -webkit-linear-gradient($text-color, $text-color);
  background-image: linear-gradient($lightgrey, $lightgrey), linear-gradient($lightgrey, $lightgrey), linear-gradient($text-color, $text-color);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 $lightgrey, -0.03em 0 $lightgrey, 0 0.03em $lightgrey, 0 -0.03em $lightgrey, 0.06em 0 $lightgrey, -0.06em 0 $lightgrey, 0.09em 0 $lightgrey, -0.09em 0 $lightgrey, 0.12em 0 $lightgrey, -0.12em 0 $lightgrey, 0.15em 0 $lightgrey, -0.15em 0 $lightgrey;
  background-position: 0% 93%, 100% 93%, 0% 93%;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position-y: 87%, 87%, 87%;
  }

  &:hover {
    color: $primary-color;
    background-image: -webkit-linear-gradient($lightgrey, $lightgrey), -webkit-linear-gradient($lightgrey, $lightgrey), -webkit-linear-gradient($primary-color, $primary-color);
    background-image: linear-gradient($lightgrey, $lightgrey), linear-gradient($lightgrey, $lightgrey), linear-gradient($primary-color, $primary-color);
  }

  &:active {
    color: darken($primary-color, 5%);
  }

  &::selection,
  &::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: normal;
}
