@import './styles/variables.css';
@import './styles/svg.css';

/*---------------- 
  GENERAL 
 -----------------*/
* {
	box-sizing: border-box;
}

html {
	color: var(--offblack);
	font-size: var(--base-font-size);
	line-height: var(--base-line-height);
	overflow-x: hidden;
}

body {
	background: linear-gradient(var(--purple-dark), var(--purple));
	font: 18px/1.5 var(--font-body);
	margin: 0;
	min-height: 100vh;
	min-width: 100vw;
	overflow-x: hidden;
	padding: 0;
	text-align: center;

	@media (--mobile) {
		font: 16px/1.5 var(--font-body);
	}
}

section {
	margin-bottom: 4vr;

	@media (--tablet-portrait) {
		margin-bottom: 3vr;
	}

	@media (--mobile) {
		margin-bottom: 2.5vr;
		text-align: center;
	}
}

p {
	margin: 0.5vr 0;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 1em;

	& li:before {
		color: var(--aqua);
		content: '–';
		display: inline-block;
		margin-left: -1em;
		width: 1em;
	}
}

/*---------------- 
  HEADINGS 
 -----------------*/
h1,
h2,
h3 {
	display: inline-block;
	font-weight: normal;
	margin: 0;
}

h1, 
h2 {
	font-family: var(--font-heading);
	position: relative;

	& span {
		position: relative;
		z-index: 1;
	}

	&:before {
		background: var(--cream);
		content: '';
		display: block;
		left: -2%;
		position: absolute;
		width: 104%;
		z-index: 0;
	}
}

h1 {
	font-size: calc(1rem * var(--base-ratio) * 3);
	line-height: 3vr;
	margin-bottom: 0.5vr;

	@media (--medium-viewport) {
		font-size: calc(1rem * var(--base-ratio) * 2.5);
		line-height: 2.5vr;
	}

	@media (--tablet-portrait) {
		font-size: calc(1rem * var(--base-ratio) * 2);
		line-height: 2vr;
	}

	@media (--mobile) {
		display: inline;
		font-size: calc(1rem * var(--base-ratio) * 1.5);
		line-height: 1.5vr;
		margin-bottom: 0;
	}

	&:before {
		bottom: 4px;
		height: 14px;
		opacity: 0;

		@media (--mobile) {
			height: 24px;
		}
	}
}

h2 {
	color: #41373e;
	font-size: calc(1rem * var(--base-ratio) * 2);
	line-height: 2vr;
	margin-bottom: 1.5vr;

	@media (--medium-viewport) {
		font-size: calc(1rem * var(--base-ratio) * 1.5);
		line-height: 1.5vr;
	}

	@media (--tablet-portrait) {
		margin-bottom: 1vr;
	}

	@media (--mobile) {
		font-size: calc(1rem * var(--base-ratio) * 1.2);
		line-height: 1.2vr;
		margin-bottom: 0.8vr;
	}

	&:before {
		bottom: 2px;
		height: 1vr;
		left: -4%;
		opacity: 0;
		width: 106%;

		@media (--mobile) {
			bottom: 0;
		}
	}
}

h3 {
	color: var(--plum);
	font-family: var(--font-alt);
	font-size: calc(1rem * var(--base-ratio) * 0.8);
	line-height: 1vr;

	@media (--mobile) {
	    & .divider {
	    	display: block;
	    }
  	}
}

/*---------------- 
  LINKS 
 -----------------*/
a {
	color: var(--aqua);
	font-weight: bold;
	text-decoration: none;

	&:hover {
		color: color(var(--aqua) shade(10%));
		text-decoration: underline;
	}
}

/*---------------- 
  TYPE 
 -----------------*/
.highlight {
	color: var(--plum);
	font-weight: bold;
}

.label {
	color: var(--aqua);
	font-size: calc(1rem / var(--base-ratio));
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.divider {
  display: block;

  @media (--tablet-portrait) {
    display: inline;
  }
}
