/*
 * Variables
 * ========================================================================== */

// The font size set on the root html element.
$base-font-size: 18px !default;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 27px !default;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$base-unit: 'em' !default;

// The default font family.
$base-font: 'Roboto', sans-serif !default;
$heading-font: 'Kavivanar', 'Archivo Narrow', sans-serif;

// Modular scale values - default golden ratio
$mod-xxl:  4.236;
$mod-xl:   2.618;
$mod-l:    1.618;
$mod-m:    1;
$mod-s:    0.618;
$mod-xs:   0.382;
$mod-xxs:  0.236;
$mod-xxxs: 0.146;

// The font sizes for h1-h6.
$h1-font-size: $mod-xxl * $base-font-size !default;
$h2-font-size: $mod-xl  * $base-font-size !default;
$h3-font-size: $mod-l   * $base-font-size !default;
$h4-font-size: $mod-m   * $base-font-size !default;
$h5-font-size: $mod-s   * $base-font-size !default;
$h6-font-size: $mod-xs  * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
// However, changing any of the variables above will cause
// $normalize-vertical-rhythm to be automatically set to true.
$normalize-vertical-rhythm: true !default;

// Colours
$green: #a0c43c;
$blue: #22aecc;
$plum: #900c3f;
$darkgrey: #4a4a4a;
$lightgrey: #fbfbfb;
$white: #fff;

$text-color: #303030;
$base-color: #eee;
$primary-color: $green;
$secondary-color: $plum;

$bold: 600;
