/* 
 * No Javascript fallbacks
 * ========================================================================== */

.revealer {
  transform: translateY(0) !important;
  opacity: 1 !important;

  img {
    filter: blur(0) !important;
  }
}