/*---------------- 
  SVG ANIMATION
 -----------------*/
svg.animate path {
  animation: offset 4s linear forwards;
}

@keyframes offset {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 0.5;
  }
}
