/*-----------------
  MEDIA BREAKPOINTS 
 -----------------*/
@custom-media --medium-viewport (max-width: 1296px);
@custom-media --tablet-landscape (max-width: 1024px);
@custom-media --tablet-portrait (max-width: 768px);
@custom-media --mobile (max-width: 420px);
@custom-media --mobile-small (max-width: 360px);

/*----------------- 
  VARIABLES 
 -----------------*/
:root {
	--aqua: #54B4AB;
	--cream: #F8E1B4;
	--cream-light: #FEF9EE;
	--grey: #b1acb0;
	--grey-medium: #645961;
	--offblack: #372C34;
	--offwhite: #FFFFFD;
	--plum: #900C3F;
	--plum-dark: #4D0923;
	--purple: #581845;
	--purple-dark: #320A2A;

	--font-heading: 'Fredericka the Great', Georgia, 'Times New Roman', Times, serif;
	--font-alt: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
	--font-body: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

	--base-font-size: 18px;
	--base-line-height: 1.5;
	--base-ratio: 1.5;
}
