@import '../styles/variables.css';

/*---------------- 
  FOOTER 
 -----------------*/
footer {
	color: var(--offwhite);
	text-align: center;

	& * {
		position: relative;
		z-index: 1;
	}

	& .content {
		display: inline-block;
		margin: 0 auto;
		position: relative;
	}

	& h2 {
		color: var(--cream);
		line-height: 2vr;
		margin-bottom: 0.5vr;

		@media (--medium-viewport) {
	      margin-bottom: 0;
	    }

	    @media (--mobile) {
	      line-height: 1.5vr;
	    }
	}

	& p {
		width: 60%;
		margin-left: auto;
		margin-right: auto;

		@media (--tablet-landscape) {
			width: 45%;
		}

		@media (--tablet-portrait) {
			width: 60%;
		}

		@media (--mobile) {
			margin-top: 0;
			width: 90%;
		}
	}

	& a {
		color: var(--cream);
		font-family: var(--font-alt);
		font-size: calc( 1rem * var(--base-ratio) );
		font-weight: bold;
		position: relative;

		@media (--mobile) {
			font-size: calc( 1rem * var(--base-ratio) * 0.8 );
		}

		& span {
			position: relative;
			z-index: 1;
		}

		&:before {
			background: var(--plum);
			bottom: 2px;
			content: '';
			display: block;
			height: 8px;
			left: -2%;
			opacity: 0.4;
			position: absolute;
			transition: 0.2s ease-in-out;
			width: 104%;
			z-index: 0;
		}

		&:hover {
			color: #68DAD0;
			text-decoration: none;

			&:before {
				height: 1.2vr;
				opacity: 0.6;
			}
		}
	}

	/*---------------- 
    SVG BACKGROUND 
   -----------------*/
	& svg {
		height: 110%;
		opacity: 0.8;
		position: absolute;
		top: -15%;
		width: auto;
		z-index: 0;

		@media (--medium-viewport) {
			height: 100%;
			top: -10%;
		}

		@media (max-width: 700px) {
			opacity: 0.25;
		}

		& path {
			stroke: var(--plum);
			stroke-dasharray: 500px;
  		stroke-dashoffset: 500px;
		}

		&.border-left {
			left: -12vw;

			@media (--medium-viewport) {
				left: -6vw;
			}

			@media (--mobile) {
				left: -10vw;
			}
		}

		&.border-right {
			right: -12vw;

			@media (--medium-viewport) {
				right: -6vw;
			}

			@media (--mobile) {
				right: -10vw;
			}
		}
	}
}

/*---------------- 
  FIREFOX ONLY 
 -----------------*/
@-moz-document url-prefix() {
	footer svg path {
	  stroke-dasharray: 500 500;
		stroke-dashoffset: 500;
	}
}

/*---------------- 
  SAFARI ONLY 
 -----------------*/
_::-webkit-full-page-media, _:future, :root footer svg {
  width: 25%;
}