@import '../styles/variables.css';

/*---------------- 
  HEADER 
 -----------------*/
header {
	margin-bottom: 2.5vr;

  @media (--medium-viewport) {
    & .divider {
      display: inline;
    }
  }

  @media (--tablet-portrait) {
    margin-bottom: 3vr;
  }

  @media (--mobile) {
    margin-bottom: 2.5vr;
    text-align: center;
  }

	& .intro {
		width: 80%;

    @media (--tablet-portrait) {
      width: 100%;
    }
	}
}