@import '../styles/variables.css';

/*---------------- 
  PERSONAL 
 -----------------*/
.personal {
  margin-bottom: 5vr;

  @media (--tablet-portrait) {
    margin-bottom: 4vr;
  }

  @media (--mobile) {
      margin-bottom: 3vr;
    }

  & .content {
    display: inline-block;
    margin-left: 2vw;
    vertical-align: top;

    @media (--tablet-landscape) {
    	margin-left: 4vw;
    }

    @media (--mobile) {
      display: block;
      margin-left: 0;
    }

    & p {
      margin-bottom: 0;

      @media (--mobile) {
        margin-top: 0;
      }
    }
  }
}