@import '../styles/variables.css';

/*---------------- 
  REFERENCES 
 -----------------*/
.references {
	bottom: -0.5vr;
	left: 50%;
	margin-bottom: 0;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);

	& .content {
		background: var(--cream-light);
		display: inline-block;
		margin: 0 auto;
		padding: 0.25vr 2vw;

		@media (--tablet-portrait) {
			min-width: 360px;
		}

		@media (--mobile) {
			font-size: calc( 1rem / var(--base-ratio) );
			min-width: 260px;
		}

		& svg {
			margin-right: 0.25vw;
			vertical-align: middle;

			@media (--mobile) {
				height: calc( 1rem / var(--base-ratio) );
				margin-right: 1.5vw;
			}
		}

		& p {
			color: var(--grey-medium);
		}

		& span {
			border-bottom: 1px solid var(--cream);
		}
	}
}