/*
 * Component - Article
 * ========================================================================== */

.article {
  @include vr-margin($mod-xl 0);

  @include respond-to('mobile') {
    @include vr-margin($mod-l 0);
  }
}

.intro {
  @include vr(margin-bottom, $mod-l);

  @include respond-to('mobile') {
    @include vr(margin-bottom, $mod-s);
  }
}

.intro__title {
  @include vr-font-size($h2-font-size);
  @include vr-line-height($h2-font-size);

  margin-bottom: 0;
  font-family: $heading-font;

  @include respond-to('mobile') {
    @include vr-font-size($h3-font-size);
  }
}

.intro__subtitle {
  color: $darkgrey;
}
