/*
 * Component - Back To Top
 * ========================================================================== */

.back-to-top {
  width: 60%;
  text-align: right;

  a {
    font-family: $heading-font;
    font-size: 0.8em;
    color: lighten($darkgrey, 10%);
    letter-spacing: 1px;
    text-transform: uppercase;
    background: none;

    &:hover {
      color: $darkgrey;
    }
  }
}
