/* 
 * Browser Upgrade
 * ========================================================================== */

.browser-upgrade {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background: #ad0000;
  text-align: center;

  a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;

    &:hover { 
      text-decoration: none;
    }
  }
}