/*
 * Component - Footer
 * ========================================================================== */

.footer {
  @include vr-padding($mod-l 0 $mod-xl);
  @include responsive-columns('mobile', 1, 0, 0);

  @include respond-to('mobile') {
    @include vr(padding-top, 1);
  }

  background: $white;
}

.footer__content {
  @include columns(12,0,0);
  @include vr(padding-top, 1);

  position: relative;

  @include respond-to('mobile') {
    @include vr-padding(0 0 $mod-xxs);
  }
}

.footer__section {
  @include columns(12,0,0);
  @include vr(margin-bottom, $mod-l);

  @include respond-to('mobile') {
    @include vr(margin-bottom, 1);
  }
}

#about {
  .footer__section__content {
    @include columns(7, 0.5);
    @include responsive-columns('desktop', 7.5);
    @include responsive-columns('tablet-landscape', 9);
    @include responsive-columns('tablet-portrait', 9);
  }
}

#contact {
  .footer__section__content {
    @include columns(4.5);
    @include responsive-columns('desktop', 4);
    @include responsive-columns('tablet-portrait', 4);

    @include respond-to('tablet-portrait') {
      float: right;
    }
  }

  .footer__section__content--first {
    @include columns(4.5, 0.5);
    @include responsive-columns('tablet-landscape', 4.5);
  }
}

.footer__header {
  @include columns(1.5);
  @include responsive-columns('tablet-landscape', 3);
  @include responsive-columns('tablet-portrait', 3,0,0);
  @include responsive-columns('mobile', 1);

  height: 130px;
  text-align: right;
  text-transform: lowercase;

  @include respond-to('tablet-landscape') {
    height: auto;
  }

  @include respond-to('mobile') {
    text-align: left;
  }
}

.footer__title {
  position: relative;

  @include respond-to('mobile') {
    float: left;
    margin-bottom: 0;
  }
}

.footer__portrait {
  @include columns(3);
  @include responsive-columns('desktop', 2.5);
}

.footer__image {
  width: 100%;
  height: auto;

  @include respond-to('mobile') {
    height: 150px;
    width: auto;
    float: right;
  }
}

.footer__section__content {
  @include vr(margin-top, $mod-s);

  @include respond-to('mobile') {
    margin-top: 0;
  }
}

.social-media-list {
  padding-left: 0;

  li {
    list-style: none;
  }
}

.back-to-top {
  position: absolute;
  right: 0;
  bottom: 0;

  @include respond-to('mobile') {
    width: 100%;
    text-align: center;
  }

  a {
    font-family: $heading-font;
    font-size: 0.8em;
    color: lighten($darkgrey, 10%);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $darkgrey;
    }
  }
}
