/*
 * Component - Header
 * ========================================================================== */

.header {
  @include vr(padding-top, $mod-m);

  background: $white;
  font-family: $base-font;
  text-transform: lowercase;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $secondary-color;
    }
  }
}

.header__content {
  @include columns(12,0,0);

  @include respond-to('tablet-portrait') {
    padding-bottom: 0;
  }

  @include respond-to('mobile') {
    @include vr(padding-bottom, $mod-xs);
  }
}

.header__title {
  @include columns(1.5);
  @include responsive-columns('tablet-landscape',2.5);
  @include responsive-columns('tablet-portrait',3.2);
  @include responsive-columns('mobile',0.25,0.02);
  @include vr-font-size($h3-font-size);
  @include vr-line-height($h3-font-size);

  position: relative;
  font-family: $heading-font;
  font-weight: normal;

  @include respond-to('mobile') {
    @include vr-font-size($h4-font-size);
    @include vr-line-height($h4-font-size);
  }
}

.header__nav {
  @include columns(10.5);
  @include responsive-columns('tablet-landscape',9.5);
  @include responsive-columns('tablet-portrait',8.8);
  @include responsive-columns('mobile',0.69);

  text-align: right;

  .menu-icon {
    display: none;
  }
}
