/*
 * Component - Header
 * ========================================================================== */

.header {
  position: fixed;
  height: 100%;
  width: $unit * 24;
  margin-left: $unit * 6;
  margin-right: $unit * 6;
  font-family: $heading-font;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $secondary-color;
    }
  }

  @include respond-to('tablet-landscape') {
    margin-left: $unit * 2;
    margin-right: $unit * 2;
  }

  @include respond-to('mobile') {
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.header__title {
  @include vr-font-size($h3-font-size);
  @include vr-line-height($h3-font-size);

  position: relative;
  font-family: $heading-font;
  font-weight: normal;
  text-transform: lowercase;
}

.header__subtitle {
  @include vr-font-size($base-font-size);
  @include vr-line-height($base-font-size);

  font-family: $base-font;

  @include respond-to('mobile') {
    display: none;
  }
}

.header__nav {
  .menu-icon {
    display: none;
  }
}

.header__portrait {
  text-align: center;
}

.header__image {
  width: $unit * 20;
  height: auto;
}

.social-media-list {
  margin: 0;
  padding-left: 0;
  text-align: center;

  @include respond-to('mobile') {
    text-align: left;
  }
}

.social__item {
  display: inline;
  list-style: none;
}

.social__link {
  background: none;
}
