/* 
 * Component - Menu
 * ========================================================================== */

ul.site-menu {
	@include vr-font-size($h3-font-size);
	@include vr-line-height($h3-font-size);
	@include vr(margin-top, $mod-m);
	border-bottom: 2px solid $text-color;
	padding-left: 0;

	@include respond-to('tablet-landscape') {
		@include vr(margin-top, $mod-s);
	}

	@include respond-to('tablet-portrait') {
		@include vr(margin-top, $mod-m);
	}

	@include respond-to('mobile') {
		@include vr-font-size($h4-font-size);
	}

	li {
		position: relative;
		display: inline;
		list-style: none;

		@include respond-to('tablet-portrait') {
			font-size: .9em;
			line-height: .9;
		}

		&:after {
			content: '|';
			@include vr-margin(0 $mod-xs);
		}

		&:nth-last-child(2):after {
			@include respond-to('mobile') {
				display: none;
			}
		}

		&:last-child {
			@include respond-to('mobile') {
				display: none;
			}

			&:after {
				display: none;
			}
		}

		a {
			display: inline-block;
			margin-left: -8px; // Compensate for inline-block gap

			&.current { 
				color: $primary-color;
			}
		}
	}
}