/*
 * Component - Menu
 * ========================================================================== */

.header__menu {
  @include vr-font-size($h4-font-size);
  @include vr-line-height($h4-font-size);

  @include respond-to('mobile') {
    margin-top: 0;
  }

  padding-left: 0;
}

.header__menu__item {
  position: relative;
  display: inline;
  list-style: none;

  @include respond-to('tablet-portrait') {
    font-size: 0.9em;
    line-height: 0.9;
  }

  @include respond-to('mobile') {
    font-size: 0.8em;
    line-height: 0.8;
  }

  &::after {
    content: '|';

    @include vr-margin(0 $mod-xs);
  }

  &:nth-last-child(2)::after {
    @include respond-to('mobile') {
      display: none;
    }
  }

  &:last-child {
    @include respond-to('mobile') {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  a {
    display: inline-block;
    font-weight: normal;
    margin-left: -5px; // Compensate for inline-block gap

    &:hover {
      color: $primary-color;
    }

    &.current {
      color: $secondary-color;
    }
  }
}
