/*
 * Component - Menu
 * ========================================================================== */

.header__menu {
  @include vr-font-size($h4-font-size);
  @include vr-line-height($h4-font-size);

  @include respond-to('mobile') {
    @include vr-margin(0 0 $mod-xxs);
  }

  padding-left: 0;
}

.header__menu__item {
  position: relative;
  list-style: none;

  @include respond-to('mobile') {
    display: inline;

    &::after {
      content: '|';
      margin-left: $unit;
    }

    &:last-child::after {
      display: none;
    }
  }
}

.header__menu__link {
  position: relative;
  background: none;
  text-shadow: none;

  &.current::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: -2px;
    left: -4px;
    height: 70%;
    width: 100%;
    background: darken($lightgrey, 10%);
  }

  &:hover {
    background: none;
  }
}
