<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    {% assign page_slug = page.title | downcase %}
    {% assign page_collection = page.collection %}
    {% include header.html slug=page_slug collection=page_collection %}
    {% include browser-upgrade.html %}
    <main class="page-content">
      <div class="container">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
