---
layout: default
---

<article class="card featured">
  <h1 class="intro">Design</h1>
  <p class="sub-intro">{{ page.content }}</p>
</article>

{% assign sorted = site.design | sort:"order" %}
{% for post in sorted %}
  <article class="card revealer">
    <div class="card-image">
      <a href="{{ post.url }}" class="card-link"><img src="/assets/img/design/{{ post.slug }}-thumbnail.jpg" alt="{{ post.title }} thumbnail"></a>
    </div>
    <div class="card-content">
      <h2><a href="{{ post.url }}" class="card-link {{ post.slug }}">{{ post.title }}</a></h2>
      <div class="excerpt">{{ post.excerpt }}</div>
    </div>
  </article>
{% endfor %}
